* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}
nav {
  background-color: #333;
  & ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    color: #fff;
  }
  & li {
    & a {
      text-decoration: none;
      color: #fff;
      padding: 0 8px;
    }
  }
}
h2 {
  margin: 16px 0;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;

  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
}
input,
select {
  height: 25px;
  width: 60px;
  display: inline-block;
  padding: 2px 4px;
  color: #141e30;
  border-radius: 4px;
}
span {
  display: inline-block;
  width: 20px;
}
#box-el {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 16px 8px;
}
#border > div {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  gap: 4px;
  & select {
    width: 100%;
  }
}
#border-radius > div {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 4fr;
  gap: 4px;
  & div:nth-child(6),
  div:nth-child(7),
  div:nth-child(8) {
    display: none;
  }
}
#border-radius select {
  width: 100px;
}
